@using ShoeStore.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ShoeStore.Ultitity
@using System.Globalization
@model ShoeStore.Models.ViewModels.CartViewModel
@{
    ViewData["Title"] = "Trang giỏ hàng";
}

@{
    if (TempData[SD.Error] != null)
    {
        <div id="error-alert" class="alert alert-danger">
            @TempData[SD.Error]
        </div>
    }
}

<script src="~/js/Error.js"></script>
<section class="cart mt-lg-5 mt-4 mb-5">
    <div class="container">
        <div class="cart-background">
            <div class="cart-background-overlay"></div>
            <div class="cart-shopping mb-4">
                <h2>
                    <strong>Giỏ hàng</strong>
                </h2>
                <h5>@Model.ProductCartsList.Count vật phẩm</h5>
            </div>
            <form method="post">
                <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl">
                @foreach (var productCart in Model?.ProductCartsList ?? Enumerable.Empty<ProductCartViewModel>())
                {
                    <div class="cart-item">
                        <div class="cart-item-name">
                            <div class="cart-item-image">
                                <img src='@Url.Content(productCart.ImgPath)' alt="">
                            </div>
                            <div class="cart-item-detail">
                                <p>
                                    <a class="text-decoration-none text-white"
                                       asp-controller="Products" asp-action="Detail" asp-route-url="@productCart.ProductUrl">
                                        @productCart.ProductName
                                    </a>
                                </p>

                                <p class="fs-6 fst-italic">Kích cỡ: @productCart.Size</p>

                                <a class="text-decoration-none text-white"
                                   asp-controller="Products" asp-action="Index" asp-route-brand="@productCart.BrandName">
                                    <span>@productCart.BrandName</span>
                                </a>
                            </div>
                        </div>
                        <div class="cart-item-price">
                            <h5>@productCart.Price.ToString("C0", new CultureInfo("vi-VN"))</h5>
                        </div>
                        <div class="cart-item-quantity">

                            <button class="btn btn-quantity px-2" asp-action="Decrement" name="shoeSizeId" value="@productCart.ShoeSizeId">
                                <i class="fas fa-minus"></i>
                            </button>

                            <input id="form1" readonly="readonly" min="1" name="quantity" value="@productCart.Quantity" type="number"
                                   class="no-arrow form-control form-control-sm" style="width: 20%;"
                                   form="update-cart"/>

                            <button class="btn btn-quantity px-2" asp-action="Increment" name="shoeSizeId" value="@productCart.ShoeSizeId">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="cart-item-remove">
                            <button type="submit" style="display: contents" asp-action="Remove" name="shoeSizeId" value="@productCart.ShoeSizeId">
                                <i class="fa-solid fa-trash "></i>
                            </button>
                        </div>
                    </div>
                    <hr>
                }
            </form>

            <div class="cart-back mt-4">
                <a href="@Model?.ReturnUrl">
                    <i class="fa-solid fa-left-long"></i>
                    <p>Tiếp tục mua hàng</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="checkout mt-5 mb-5">
    <div class="container">
        <div class="checkout-form">
            <div class="checkout-form-right">
                <div class="cart-background">
                    <div class="cart-background-overlay"></div>
                    <h3>
                        <strong>Tổng giá tiền đơn hàng</strong>
                    </h3>
                    <span>Chi phí vận chuyển và chi phí bổ sung được tính dựa trên giá trị bạn đã nhập.</span>
                    <div class="checkout-summary">
                        <div class="d-flex justify-content-between align-items-center py-4 border-bottom">
                            <strong class="text-muted">Tổng cộng</strong>
                            <h5>
                                <strong>@Model.ShopOrder.OrderTotal.ToString("C0", new CultureInfo("vi-VN"))</strong>
                            </h5>
                        </div>
                    </div>
                    <a asp-action="Summary" asp-route-returnUrl="@Model?.ReturnUrl" class="btn btn-proceed" type="button">Thanh toán</a>
                </div>
            </div>

        </div>
    </div>
</section>
