@using ShoeStore.Ultitity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ShoeStore.Models.ViewModels.ProductDetailViewModel

@{
    ViewData["Title"] = "Trang chi tiết sản phẩm";
    
    bool isUser = User.Identity.IsAuthenticated;
}

<section class="detail container mt-lg-5 mt-4">
    <div class="detail-slider">
        <div class="carousel carousel-main" data-flickity='{ "pageDots": false, "fullscreen": true }'>
            @foreach (var img in Model?.ShoeImages ?? Enumerable.Empty<Image>())
            {
                <div class="carousel-cell">
                    <img src="@img.Path" alt="">
                </div>
            }
        </div>

        <div class="carousel carousel-nav" data-flickity='{ 
                "asNavFor": ".carousel-main", 
                "contain": true, 
                "prevNextButtons": false, 
                "pageDots": false 
            }'>
            @foreach (var img in Model?.ShoeImages ?? Enumerable.Empty<Image>())
            {
                <div class="carousel-cell">
                    <img src="@img.Path" alt="">
                </div>
            }
        </div>
    </div>
    <div class="detail-info">
        <h2><strong>@Model.Shoe.Name</strong></h2>
        <div class="detail-info-name">
            <ul>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><a href="#">Đánh giá của sản phẩm</a></li>
            </ul>
            <div class="d-flex justify-content-between">
                <p>Nhãn hàng: <a class="link-dark text-decoration-none" asp-controller="Products" asp-action="Index"
                        asp-route-brand="@Model.Shoe.Brand.Name">
                        <strong>@Model.Shoe.Brand.Name</strong>
                    </a>
                </p>
                <p>Danh mục: <strong>@Model.Shoe.Category.Name</strong></p>
                <p>Mã sản phẩm: <strong>@Model.ShoeColor.ProductCode</strong></p>
            </div>
        </div>
        <div class="detail-info-price">
            <h4>Giá tiền:</h4>
            <h2><strong>$@Model.ShoeColor.SalePrice</strong></h2>
        </div>
        <div class="detail-info-size mt-3">
            <h4>Kích cỡ:</h4>
            @* <div asp-validation-summary="All"></div> *@
            <div class="d-flex align-items-baseline flex-wrap mt-3">
                @foreach (var size in Model?.ShoeSizes ?? Enumerable.Empty<ShoeSize>())
                {
                    @if (size.Quantity > 0)
                    {
                        <input form="add-to-cart" type="radio" id="@($"size-{size.Size.Value}")" class="radio-input" name="ShoeSizeId" value="@size.Id"/>
                        <label for="@($"size-{size.Size.Value}")" class="radio-label">@size.Size.Value</label>
                    }
                }

            </div>
        </div>
        <div class="detail-info-color mt-4">
            <h4>Màu sắc:</h4>
            <div class="d-flex justify-content-start align-items-center flex-wrap gap-3 mt-3">

                @for (var i = 0; i < Model.RelatedShoeColors.Count; i++)
                {
                    var productColor = Model.RelatedShoeColors[i];
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="productColor" id="@($"productColor-{i}")"
                        @(productColor.Id == Model.ShoeColor.Id ? "Checked": "")>
                        <label class="form-check-label" for="@($"productColor-{i}")">
                            <a asp-controller="Products" asp-action="Detail" asp-route-url="@productColor.Url">
                                <img src='@productColor.Images?.First().Path' alt="">
                            </a>
                        </label>
                    </div>
                }

            </div>
        </div>
        <div class="detail-info-quantity mt-4">
            <h4>Số lượng:</h4>
            <div class="box-quantity mt-3">
                <button class="btn btn-quantity px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                </button>

                <input form="add-to-cart" id="form1" min="1" max="999" name="Count" value="1" type="number" class="form-control form-control-sm"
                    style="width: 15%;" />

                <button class="btn btn-quantity px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        @* <form id="add-to-cart" asp-page="/Cart" asp-page-handler="Post" method="post"> *@
        <form id="add-to-cart" method="post">
            <input type="hidden" asp-for="ShoeColor!.Url" name="productUrl">
            @* <input type="hidden" name="productId" value="@Model.ShoeColor.Id"> *@
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()">
            <div class="detail-info-add mt-5">
                @if (isUser)
                {
                    <button type="submit" class="btn-add" asp-action="AddToCart">
                        Thêm vào giỏ hàng
                        <i class="fa-solid fa-bag-shopping"></i>
                    </button>
                }
                else
                {
                    <button type="submit" class="btn-add" asp-action="AddToCartSession">
                        Thêm vào giỏ hàng
                        <i class="fa-solid fa-bag-shopping"></i>
                    </button>
                }
                <button type="button" class="btn-add">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
        </form>
        <div class="detail-info-more mt-5">
            <div>
                <h2>Thông tin mô tả</h2>
                <div class="mb-3" id="featuresContent">
                    @Html.Raw(@Model.Shoe.Features)
                </div>
                <div id="descriptionContent">
                    @Html.Raw(Model.Shoe.Description)
                </div>
            </div>
        </div>
    </div>
</section>

<section class="related mt-lg-5 mt-3 mb-5">
    <div class="container">
        <h3 class="mb-4" data-aos="zoom-in-right">
            <strong>Một số sản phẩm liên quan</strong>
        </h3>
        <div class="product mt-4" data-aos="zoom-in">

            @foreach (var product in Model?.RelatedProduct ?? Enumerable.Empty<ShoeColor>())
            {
                <div class="product-card">
                    <a asp-controller="Products" asp-action="Detail" asp-route-url="@product.Url">
                        <div class="product-card-image">
                            <img src='@Url.Content(product?.Images?.First().Path)' alt="">
                        </div>
                    </a>
                    <div class="product-card-top">
                        <span>@product.Shoe?.Brand?.Name</span>
                        <a asp-controller="Products" asp-action="Detail" asp-route-url="@product.Url">
                            <h5>@product.Shoe?.Name</h5>
                        </a>
                    </div>
                    <div class="product-card-bottom">
                        <h5>
                            <strong>$@product.SalePrice</strong>
                        </h5>
                        <div>
                            <a href="">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

